[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.5"
pytest = "==8.3.3"
httpx = "==0.28.0"
pyodbc = "*"
loguru = "*"

[dev-packages]
pytest-cov = "==6.0.0"

[requires]
python_version = "3.11"

[scripts]
server = "uvicorn barbershop.main:app --reload"
test = "pytest --cov=barbershop --cov-report=html --cov-report=term"
