[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.5"
pytest = "==8.3.3"
httpx = "==0.28.0"
tkcalendar = "*"
customtkinter = "==5.2.2"
pylint = "==3.3.2"
uv = "*"
pre-commit = "*"

[dev-packages]
pytest-cov = "==6.0.0"

[requires]
python_version = "*"
