name: Test workflow

on:
  push:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Tests
        uses: 'vazqueztomas/pipelines-template@main'
          